/* Main */
@font-face {
    font-family: Kuree;
    src: url(fonts/30.woff);
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: block;
}
@media screen and (min-width: 48em)
.header, .content {
    padding-left: 2em;
    padding-right: 2em;
}
.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}
/* // Main // */

/* Line breaks */
.linebreak-norm {
	border-bottom: 1px solid #d2d6de;
}
/* //Line breaks // */

/* Containers */

/* // Containers // */

/* Buttons */
.alien-btn {
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #bdc3c7;
    text-decoration: none;
    border-radius: 2px;
}
.alien-btn {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.alien-btn-lg {
    font-family: inherit;
    font-size: 100%;
    width: 95%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #bdc3c7;
    text-decoration: none;
    border-radius: 2px;
}
.alien-btn-lg {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.alien-btn-primary, .alien-btn-selected, a.alien-btn-primary, a.alien-btn-selected {
    background-color: #3498db;
    color: #fff;
}
.alien-btn-default, .alien-btn-selected, a.alien-btn-default, a.alien-btn-selected {
    background-color: #bdc3c7;
    color: #fff;
}
.alien-btn-info, .alien-btn-selected, a.alien-btn-info, a.alien-btn-selected {
    background-color: #46b8da;
    color: #fff;
}
.alien-btn-warning, .alien-btn-selected, a.alien-btn-warning, a.alien-btn-selected {
    background-color: #e74c3c;
    color: #fff;
}
.alien-btn-primary, .alien-btn-primary:hover a.alien-btn-primary, a.alien-btn-primary:hover {
    background-color: #2473A6;
    color: #fff;
}
.alien-btn-default, .alien-btn-default:hover a.alien-btn-default, a.alien-btn-default:hover {
    background-color: #AAAFB3;
}
.alien-btn-info, .alien-btn-info:hover a.alien-btn-info, a.alien-btn-info:hover {
    background-color: #3FA5C4;
}
.alien-btn-warning, .alien-btn-warning:hover a.alien-btn-warning, a.alien-btn-warning:hover {
    background-color: #CF4436;
}      
/* // Buttons // */

/* Text */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}	
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%;
    color: #979C9F;
}
.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-size: 65%;
    color: #979C9F;
}
/* // Text // */

/* Grids */
.alien-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.grids-main {
    background: rgb(250, 250, 250);
    margin: 2em auto;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.grids-main [class *= "alien-u"] {
    text-align: center;
    padding: 1em 0;
    border: 1px solid #ddd;
    border-right: none;
    border-bottom: none;
}
html, button, input, select, textarea, .alien-g [class *= "alien-u"] {
    font-weight: 100;
    letter-spacing: 0.01em;
}
.alien-u-1-3, .alien-u-8-24 {
    width: 33.3333%;
}
.alien-u-1, .alien-u-1-1, .alien-u-5-5, .alien-u-24-24 {
    width: 100%;
    letter-spacing: 0.01em
}
/* // Grids // */

/* Textography */
.s, .strike, .del, s, strike, del {
text-decoration: line-through;
}
.u, .ins, u, ins {
text-decoration: underline;
}
.smallt, smallt {
font-size: 85%;
}
.strong, .b, b, strong {
font-weight: bold;
}
.i, .cite, .em, .var, .address, .dfn, i, cite, em, var, address, dfn {
font-style: italic;
}
.text-left {
text-align: left;
}
.text-right {
text-align: right;
}
.text-center {
text-align: center;
}
blockquote {
padding: 10px 20px;
margin: 0 0 20px;
font-size: 17.5px;
border-left: 5px solid #ddd;
font-weight: bold;
}

blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}
.blockquote-reverse, blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #ddd;
    border-left: 0;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #27ae60;
    background-color: #a7ebc4;
    border-radius: 4px;
}
kebo {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #34495e;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
pre-info {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #fff;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #34a6db;
    border: 1px solid #2980b9;
    border-radius: 4px;
}
code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}
code, kbd, pre, samp, pre-info {
    font-family: monospace,monospace;
    font-size: 1em;
}
a:link {
    text-decoration: none;
color: #ffffff;
}

a:visited {
    text-decoration: none;
color: #ffffff;
}

a:hover {
    text-decoration: none;
color: #ffffff;
}

a:active {
    text-decoration: none;
color: #ffffff;
}
/* // Textography // */

/* Tabs */

article.tabss
{
	position: relative;
	display: block;
	width: 40em;
	height: 15em;
	margin: 2em auto;
}
article.tabss section
{
	position: absolute;
	display: block;
	top: 1.8em;
	left: 0;
	width: 90%;
	height: 12em;
	padding: 10px 20px;
	background-color: #fff;
	z-index: 0;
}
article.tabss section:first-child
{
	z-index: 1;
}
article.tabss section h2
{
	position: absolute;
	font-size: 1em;
	font-weight: normal;
	width: 120px;
	height: 1.8em;
	top: -1.8em;
	left: 10px;
	padding: 0;
	margin: 0;
	color: #999;
	border: 1px solid #aaa;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
}
article.tabss section:nth-child(2) h2
{
	left: 132px;
}

article.tabss section:nth-child(3) h2
{
	left: 254px;
}

article.tabss section h2 a
{
	display: block;
	width: 100%;
	line-height: 1.8em;
	text-align: center;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}
article.tabss section:target,
article.tabss section:target h2
{
	color: #333;
	background-color: #fff;
    	border: 1px solid #aaa;
	z-index: 2;
}
article.tabss section,
article.tabss section h2
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	border: 1px solid #aaa;
}

.tabs {
  font-size: 0;
  margin: 25px 0;
}

.tabs:after {
  clear: both;
  content: '';
  display: table;
}

.tabs .tab {
  display: inline;
}

.tabs .tab-label {
  background: #eee; 
  border: 1px solid #ccc; 
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  left: 1px;
  margin-left: -1px;
  padding: 10px; 
  position: relative;
  vertical-align: bottom;
}

.tabs .tab > [type="radio"] {
  clip: rect(0 0 0 0);
  height: 1px;
  opacity: 0;
  position: fixed;
  width: 1px;
  z-index: -1;
}

.tabs .tab-panel {
  display: inline;
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 0;
  width: 0;
}

.tabs .tab-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  background: white;
  padding: 0 20px;
  border: 1px solid #ccc;
  float: left;
  font-size: 16px;
  font-size: 1rem;
  margin-top: -1px;
  width: 100%;
}

.tabs .tab [type="radio"]:checked + .tab-label {
  background: white;
  border-bottom-width: 0;
  padding-bottom: 11px;
  z-index: 1;
}

.tabs .tab [type="radio"]:checked ~ .tab-panel {
  display: inline;
}

@media \0screen\,screen\9 {
  /* IE7 and IE6 */
  .tabs {
    zoom: 1;
  }
  
  /* IE8 and below */
  .tabs .tab .tab-radio {
    filter: Alpha(opacity=0);
    position: absolute;
    z-index: -1;
  }
  
  /* IE7 and IE6 */
  .tabs .tab .tab-panel, {
    display: none;
    height: auto;
    overflow: visible;
    position: static;
    width: auto;
  }
  
  /* IE7 and IE6 */
  .tabs .tab-content, {
    float: none;
    padding-bottom: 1px;
    padding-top: 1px;
    width: auto;
  }
  
  /* IE8 and below */
  .tabs .checked label {
    background: white;
    border-bottom-width: 0;
    padding-bottom: 11px;
    z-index: 1;
  }
  
  /* IE8 */
  .tabs .checked .tab-panel {
    display: inline;
  }
  /* IE7 and IE6 */
  .tabs .checked .tab-panel, {
    display: inline;
    float: left;
    width: 100%;
  }
}

.tabs {
  color: #222;
}


.for {
  display: inline-block;
  position: relative;  
}

.for:after {
  background: #DDD;
  bottom: 150%;
  color: #222;
  font-family: sans-serif;
  font-size: 12px;
  opacity: 0;
  padding: .5em;
  pointer-events: none;
  position: absolute;
  right: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  white-space: nowrap;
}

.for:hover:after {
  opacity: 1;
}

.for.default-tab {
  color: #8AD;
}

.for.ie8-and-below {
  color: #DA8;
}

.for.default-tab:after {
  content: 'For default tab';  
}

.for.ie8-and-below:after {
  content: 'For IE8 and below';  
}
@media only screen and (max-width: 43em) {
  .tabs .tab > label {
    background: #BBB;
    border-color: #999;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  .tabs .tab [type="radio"]:checked + .tab-label {
    background: #222;
    border-color: #444;
    color: #DDD;
  }
}
/* // Tabs // */

/* Boxes */
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #3498db;
    margin-bottom: 20px;
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #d2d6de;
}
.no-padding {
    padding: 0 !important;
}
.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}
/* // Boxes // */

/* Callouts */
.callout {
    border-radius: 3px;
    margin: 0 0 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    color: #fff;
}
.callout h4 {
    margin-top: 0;
    font-weight: 600;
}
.callout p:last-child {
    margin-bottom: 0;
}
.callout.callout-info {
    background-color: #00c0ef !important;
}
.callout.callout-info {
    border-color: #0097bc;
}
.callout.callout-warning {
    background-color: #e74c3c !important;
}
.callout.callout-warning {
    border-color: #c0392b;
}
.callout.callout-default {
    background-color: #bdc3c7 !important;
}
.callout.callout-default {
    border-color: #95a5a6;
}
.callout.callout-notif {
    background-color: #2ecc71 !important;
}
.callout.callout-notif {
    border-color: #27ae60;
}
/* // Callouts // */

/* Tables */
.default-t {
    font-family: inherit;
    width: 100%;
    border-collapse: collapse;
}

.default-t td, .default-t th {
    font-size: 16px;
    padding: 3px 7px 2px 7px;
}

.default-t th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #fff;
    color: #000000;
}

.default-t tr.alt td {
    color: #000000;
    background-color: #ddd;
}
/* // Tables // */

/* Images */
.img-rounded {
    border-radius: 6px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.img-circle {
    border-radius: 50%;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* // Images // */
